@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-8" style="justify-content: center;">
            Battleships
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
